<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .completed {
            text-decoration: line-through;
            opacity: 0.6;
        }
    </style>
</head>
<body>
<div id="app">
    <select v-model="status">
        <option value="all" selected>모두 보기</option>
        <option value="active">안 끝남</option>
        <option value="completed">끝남</option>
    </select>
    <input type="text" v-model="newTodo" v-on:keyup.enter="addTodo()">
    <button @click="addTodo()">todo</button>
    <button v-on:click="clearCompleted()">clear completed</button>
    <ol v-if="todos.length">
<!--        <li v-for="todo in todos" v-bind:class="{completed: todo.completed}">-->
        <li v-for="todo in groupTodosByStatus" v-bind:class="todo.completed? 'completed':''" v-bind:key="todo.id">
            <input type="checkbox" v-model="todo.completed" v-on:change="updateTodo(todo)">
            <span>{{todo.content}}</span>
        </li>
    </ol>
</div>
<script src="./vue.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.9.1/firebase.js"></script>
<script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
<script>
    // Initialize Firebase
    // TODO: Replace with your project's customized code snippet
    const config = {
        apiKey: "AIzaSyBLZBP1E3Z0TegUO1dhuzhJFpv-zbhtdzg",
        databaseURL: "https://fir-app-392e7.firebaseio.com",
        projectId: "fir-app-392e7",
    };
    firebase.initializeApp(config);

    const database = firebase.database();

    const app = new Vue({
        el: '#app',
        data:{
            newTodo:'',
            status:'all',
        },
        firebase:{
            todos: database.ref('todos'),
        },
        methods: {
            check: function (todo = {}) {
                todo.completed = !todo.completed
            },
            addTodo (){
                if(this.newTodo) {
                    this.$firebaseRefs.todos.push({
                        id:Date.now(),
                        content: this.newTodo,
                        completed: false
                    });
                    this.newTodo = ''
                }
            },
            clearCompleted (){
                const completedTodos = this.todos.filter(todo =>  todo.completed);
                completedTodos.forEach(todo =>{
                    this.$firebaseRefs.todos.child(todo['.key']).remove()
                });
            },
            updatedTodo(todo){
                const newTodo = { ...todo };// 원래 있던 거 deep copy펼쳐서 넣는거
                delete newTodo['.key']; // 키-밸루 삭제
                this.$firebaseRefs.todos.child(todo['.key']).set(newTodo); //원래 없는 메소드
            }
        },
        computed: {
            groupTodosByStatus(){
                if(this.status ==='active'){
                    return this.todos.filter(todo=>!todo.completed)
                }
                else if(this.status === 'completed'){
                    return this.todos.filter(todo=>todo.completed)
                }
                else{
                    return this.todos;
                }
            },
        },
        // watch:{
        //     todos:{
        //         deep:true,
        //         handler:function(todos){
        //             todosApp.save(todos)
        //         }
        //     },
        // }
    })
</script>
</body>
</html>